<div class="row justify-content-center gutter-sm">
  <div class="col-6">
    <div class="card">
      <form id="new-post" action="javascript:void(0)" method="post" onsubmit="submitPost(); return false;">
        <div class="card-body">
          <textarea name="content" class="form-control no-border no-padding" placeholder="Write something..." style="height: 3.6em;"></textarea>
        </div>
        <div class="card-footer text-right">
          <a href="#" class="btn btn-neutral btn-sm btn-icon">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </a>
          <button class="btn btn-primary btn-sm">Post</button>
        </div>
      </form>
    </div>
    <div id="post-section"></div>
  </div>
</div>
<script>
  function submitPost() {

  }
</script>